@media screen and (min-width: 800px) {
  .below800 {
    display: none;
  }
  .above800 {
    display: inline-block;
  }
}
@media screen and (max-width: 800px) {
  .below800 {
    display: block;
  }
  .above800 {
    display: none;
  }
}

@media screen and (max-width:400px){
  .searchBar {
    padding-left: 10px;
  }
  .icon {
    right: 10px;
  }
  .iconEgg {
    right: -18px;
  }
}

@media screen and (min-width:400px){
  .searchBar {
    padding-left: 100px;
  }
  .icon{
    right: 100px;
  }
  .iconEgg {
    right: 72px;
  }
}

body{
  background-color: lightgrey;
}

.content>h4 {
  margin-top: 2px;
}

.picContainer {
  padding:0;
}

.btn:focus {
  outline:0;
}

.listItem {
  height:175px;
  min-height: 175px;
  max-height:175px;
  border: black solid 1px;
  margin: 2px;
  overflow: hidden;
  background-color: #f7f7f7;
}

.tags {
  margin-top: 26px;
}

.eachTag {
  margin-right:5px;
}

.bottomImage{
  position: fixed;
  bottom: 0;
  left:0;
  width:100vw;
  height: 60vh;
  z-index:-1;
  opacity:.5;
}

.searchBar {
  top:0;
  left:0;
  width:100%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #f7f7f7;
  position: fixed;
  border-bottom: black solid 1px;
  z-index: 1;
}

.searchInput {
  padding-left:8px;
  border-radius: 5px;
  border-style: solid;
  border-color: #A79D9D;
  opacity:.5;
  border-width: 1px;
  height:34px;
}

.spacer {
  margin-top: 90px;
}
.bottomSpacer {
  margin-bottom: 40vh;
}

.picContainer img{
  border-right: black solid 1px;
  min-width:100% ;
  max-width:100% ;
  height: 175px;
  max-height:175px ;
  min-height:175px ;
}

#detailPagePic {
  margin-bottom: 20px;
  border: black solid 1px;
}

.inline>li {
  display: inline;
}

#author, #viewFlickrLink {
  text-decoration: underline;
  margin-right: 15px
}

#viewFlickrLink{
  margin-left: 15px;
}

.icon {
  position: absolute;
  margin:0;
  z-index:-1;
  height: 40px;
  width:40px;
}

.egg {
    z-index:1;
     margin-left:4px;
    position: absolute;
    display: inline;
    height: 34px;
    clip: rect(0, auto, auto, 0);
}

.iconEgg {
    position: fixed;
    top: -9px;
    margin: 0;
    z-index: -1;
    height: 100px;
    width: 94px;

}

/* The following stylings are for the custom back-button created with a directive */

a>back-button{
  color: black;
}

.customBtn {
  position:fixed;
  z-index:1;
  top:10px;
  right:150px;
}

.customBtn span {
  position:absolute;
  left:5px;
  top:3px;
}

.pointerShade {
  position:absolute;
  left:18px;
  top:7px;
  height: 0;
  width: 0;
  border: 15px solid transparent;
  border-right-color: black;
}
.boxPart {
  position: absolute;
  top:7px;
  left: 48px;
  padding: 10px;
  height: 30px;
  width: 50px;
  background-color: #f7f7f7;
  border: black solid 2px;
  border-left: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.pointerInner {
  position: absolute;
  top:-15px;
  left: -13px;
  height: 0;
  width: 0;
  border: 15px solid transparent;
  border-right-color: #f7f7f7;
}


/********************************************************************/

