@media screen and (min-width: 800px) {
  .below800 {
    display: none;
  }
  .above800 {
    display: inline-block;
  }
}
@media screen and (max-width: 800px) {
  .below800 {
    display: block;
  }
  .above800 {
    display: none;
  }
}

.content>h4 {
  margin-top: 2px;
}

.picContainer {
  padding:0;
}

.listItem {
  height:175px;
  min-height: 175px;
  max-height:175px;
  border: black solid 1px;
  margin: 2px;
  overflow: hidden;
}

.tags {
  margin-top: 6px;
}

button {
  margin-top: 25px;
}

img {
  border-right: black solid 1px;
  min-width:100% ;
  max-width:100% ;
  height: 175px;
  max-height:175px ;
  min-height:175px ;
}

.inline>li {
  display: inline;
}



#author, #viewFlickrLink {
  text-decoration: underline;
  margin-right: 15px
}

#viewFlickrLink{
  margin-left: 15px;
}


/* The following stylings are for the custom back-button created with a directive */
a>back-button{
  color: black;
}

.customBtn {
  position:fixed;
  top:10px;
  right:150px;
}

.customBtn span {
  position:absolute;
  left:3px;
  top:3px;
}

.pointerShade {
  position:absolute;
  left:18px;
  top:7px;
  height: 0;
  width: 0;
  border: 15px solid transparent;
  border-right-color: black;
}
.boxPart {
  position: absolute;
  top:7px;
  left: 48px;
  padding: 10px;
  height: 30px;
  width: 50px;
  background-color: lightgrey;
  border: black solid 2px;
  border-left: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.pointerInner {
  position: absolute;
  top:-15px;
  left: -13px;
  height: 0;
  width: 0;
  border: 15px solid transparent;
  border-right-color: lightgrey;
}


/********************************************************************/

