<div class="listItem row ng-cloak" >
  <div class="col-xs-5 col-md-3 picContainer">
    <a href="" ng-click="itemDetail(feed)"><img src="{{feed.media.m}}" alt="test"  class="img-responsive"></a>
  </div>
  <div class="col-xs-7 col-md-9">
    <h3 ng-click="itemDetail(feed)" >
      <a href="" class="below800">{{feed.title|truncate:28}}</a>
      <a href="" class="above800">{{feed.title|truncate:40}}</a>
    </h3>
    <small class="below800">Published: 
      <span>{{feed.usableDate}}</span>
    </small>
    <small id="author">
      <a href="{{feed.usersPage}}">{{feed.author}}</a>
    </small>
    <small class="above800">Published: 
      <span>{{feed.usableDate}}</span>
    </small>
    <small id="viewFlickrLink" >
      <a href="{{feed.link}}">View on Flickr</a>
    </small>
  </div>
</div>