<div class="row ng-cloak">
  <div class="col-xs-8">
    <h3><a href="{{item.link}}">{{item.title}}</a></h3>
  </div>
  <div class="col-xs-4">
    <a ui-sref="list" ><back-button></back-button></a>
  </div>
</div>
<div class="row ng-cloak">
  <div class="col-xs-12" >
    <h5><a href="{{item.usersPage}}" >{{item.author}}</a> | Published: {{item.published}}</h5>
  </div>
</div>
<div class="row ng-cloak">
  <div class="col-xs-4">
    <img src="{{item.media.m}}" alt="" >
  </div>
  <div class="col-xs-8">
    {{item.description}}
    <div class="row">
      <div class="col-xs-1 tags">
        <strong>Tags:</strong>
      </div>
      <div class="col-xs-11 tags">
        <ul class="inline">
          <li><a>tag 1</a></li>
          <li><a>tag 1</a></li>
          <li><a>tag 1</a></li>
        </ul>
        
      </div>
    </div>
  </div>
</div>