<div class="searchBar">
  <button class="btn btn-default submitSearch" ng-click="conductSearch(search)">Search</button>
  <button class="btn btn-default" ng-click="conductSearch('')">All</button>
  <div class="egg">
    <input type="text" placeholder="{{placeholder}}" class="searchInput" ng-model="search">
    <img class="iconEgg" src="dist/pics/potatoFace.png" alt="">
  </div>
  <img class="icon" src="dist/pics/potato.png" alt="">
</div>
<div class="spacer">
  <author-panel  dir-paginate="feed in feeds | filter:tagSearchedFor | itemsPerPage : 6"></author-panel>
  <dir-pagination-controls></dir-pagination-controls>
</div>